.mobile__anchor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px; /* Adjust gap as needed */
    justify-items: center;
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b5eaf;
    color: #f2f2f2;
    width: 100%;
    height: 160px;
  }

  .cta > button {
    color: #ff00c3;
    background-color: #f2f2f2;
    border: 2px solid #a100ff;
    width: 50%;
    height: 25%;
    border-radius: 15px;
    /* margin-bottom: 5%; */
  }
  
  .cta, .quote {
    grid-column: 1 / -1; /* Span across both columns */
  }
  
  .anchor__img__container {
    display: contents; /* Use display: contents to have .anchor__img use the grid of .mobile__anchor */
  }
  
  .anchor__img {
    grid-column: span 1; /* Each .anchor__img takes up 1 column */
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .anchor__img > img {
    width: 100%;
  }


  