.Navbar {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

.logo__container > img {
    width: 50%;
}

.mobile__container > div > svg {
    color: #a100ff;
}

@media (min-width: 750px) {
    .logo__container > img {
        width: 35%;
    }

    .hero__text > h1 {
        font-size: 40px;
    }

    .mobile__container > div > svg {
        font-size: 32px;
    }
}

